<div class="jumbotron">
   <div class="row">
       <h1> To Do Today! </h1> 
    </div>
    <div class="row">
        <div class="col-md-3"></div>
       <div class= "col-md-6 .col-md-offset-3">
            <p>A self-destructing task tracker.</p>
            <p>List your to-dos. Check them off. </p>
            <p>Then get out and enjoy life.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <p>
           <%= link_to "Create A Task List", new_user_registration_path, class: "btn btn-primary btn-lg" %> 
        </p>
    </div>
</div>
    

