
<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
    <div class='col-md-4 list-items'> 
        <h5><%= item.name %></h5>
    </div>
    <div class='col-md-4 days-left'> 
        <%=item.days_left %> days
    </div>
    <div class='col-md-4 checkmark'>
        <%= link_to "", user_item_path(item.user, item), class: 'glyphicon glyphicon-ok', method: :delete, remote: true %>
    </div>
<% end %> 
